<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>40667005-515F-44C1-93B2-997223604F70</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
